<!DOCTYPE html>
<html lang="en">
  <header>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='0x01fe.png') }}" alt="CRT with a smiley"><a class="BigHome" href="index">0x01FE.net</a>
    <div id="Menu">
      <a class="Active" href="../index">Home</a>
      <a class="Media" href="../media">Media</a>
      <a class="Programming" href="../programming">Programming</a>
      <a class="Uses" href="../uses">Uses</a>
      <a class="About" href="../about">About</a>
      <a class="Contact" href="../contact">Contact</a>
    </div>
  </header>
  <body>
    <div id="Artist">
      <div class="Header">{{ artist_name }}</div>
      Total Listening Time: {{ artist_listen_time[0] }} hours {{ artist_listen_time[1] }} minutes
    </div>

    <div class="MusicTopSideBar">
      <div class="TopAlbums">
        <div class="Header2">Top Albums</div>

        {% for album in top_albums %}
          <p>{{ loop.index }}. {{ album }} : {{ top_albums[album][0] }} hours {{ top_albums[album][1] }} minutes</p>
        {% endfor %}

      </div>

      <div class="TopSongs">
        <div class="Header2">Top Songs</div>

        {% for song in top_songs %}
          <p>{{ loop.index }}. {{ song }} : {{ top_songs[song][0] }} hours {{ top_songs[song][1] }} minutes</p>
        {% endfor %}
      </div>
    </div>

  </body>
</html>