<!DOCTYPE html>
<html lang="en">
  <header>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='0x01fe.png') }}" alt="CRT with a smiley"><a class="BigHome" href="index">0x01FE.net</a>
    <div id="Menu">
      <a class="Active" href="index">Home</a>
      <a class="Media" href="media">Media</a>
      <a class="Programming" href="programming">Programming</a>
      <a class="Uses" href="uses">Uses</a>
      <a class="About" href="about">About</a>
      <a class="Contact" href="contact">Contact</a>
    </div>
  </header>
  <body>
    <div id="Body">
      <div class="Header">About</div>
      <p>
        This website was made as a refresher on HTML for myself, as a playground for future web frameworks, and as a place for me to post my thoughts incase someday someone cares to read them.
      </p>
      <p>
        I started programming at a young age and was really brought in by the idea that I could create things virtually just by typing at a computer. I've always loved building things and programming caters to that.
      </p>
    </div>
  </body>
</html>