<!DOCTYPE html>
<html lang="en">
  <header>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='0x01fe.png') }}" alt="CRT with a smiley"><a class="BigHome" href="index">0x01FE.net</a>
    <div id="Menu">
      <a class="Active" href="index">Home</a>
      <a class="Media" href="media">Media</a>
      <a class="Programming" href="programming">Programming</a>
      <a class="Uses" href="uses">Uses</a>
      <a class="About" href="about">About</a>
      <a class="Contact" href="contact">Contact</a>
    </div>
  </header>
  <body>
    <div id="Body">
      <div class="Header">Media</div>
        <p>
          I've consumed a lot of media that I've enjoyed, whether it be television, movies, music, books, etc.
          I end up forgetting what my thoughts were at the time of consumption.
          This corner of my website is dedicated to archiving my thoughts on various pieces of media at time of consumption along with (sometimes) for in depth pieces about my thoughts on specific pieces of media that I feel deserve special attention.
        </p>

      <div class="Header">Music</div>
      <div class="Header2">Top Artists</div>
      <p>This section shows off some of my favorite music artists, along with how I listen to the most.</p>

      {% for artist in data %}
        <p>{{ loop.index }}. {{ artist }} : {{ data[artist]["overall"] }} hours</p>
      {% endfor %}
    </div>
  </body>
</html>